@model IEnumerable<Menu.Client.Models.ItemViewModel>

@{
    ViewBag.Title = "Позиции меню";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <h3>
                Список позиций меню
            </h3>
        </h3>
    </div>
    <div class="panel-body">
        <p>
            <a href="@Url.Action("Create", "Home")" class="btn btn-success">
                Добавить позицию
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <a href="@Url.Action("Index", "Home")" class="btn btn-success">
                Перейти к списку категорий
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </a>
          
        </p>

        <table class="table">
            <tr>
                <th>
                    Наименование
                </th>
                <th>
                    Количество
                </th>
                <th>
                    Стоимость
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price) руб.
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new {id = item.Id}, new {@class = "btn btn-primary glyphicon glyphicon-edit"}) |
                        @Html.ActionLink(" ", "Delete", new {id = item.Id}, new {@class = "btn btn-danger glyphicon glyphicon-remove"})
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

